.bigScreenText {
  font-size: 40px;
}

.bigScreenMap {
  width: 100%;
  height: auto;
  margin: 5vh 0;
}

.image-gallery-slide .image-gallery-image:first-child {
  transition: filter 3s, transform 3s;
  filter: sepia(100%);
  transform: scale(1);
}

.image-gallery-slide .image-gallery-image:first-child:hover {
  transition: filter 3s, transform 3s;
  filter: sepia(0%);
  transform: scale(1.1);
}
