/*gallery */
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 100%;
}

.image-gallery-icon:focus {
  outline: none;
}

@media only screen and (orientation: landscape) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    bottom: 10%;
  }
}

/* video */
.video-react .video-react-big-play-button {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
