.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 100%;
}

.image-gallery-icon:focus {
  outline: none;
}
/* .image-gallery-fullscreen-button {
  visibility: hidden;
  pointer-events: none;
} */

/**
* fullscreen mode
*/
/* .fullscreenMode {
  position: fixed;
  inset: 0px;
  background: black;
  z-index: 99999;
} */

/* desktop change color on hover */
/* @media only screen and (min-width: 1100px) {
  .image-gallery-slide.image-gallery-center #sephia {
    transition: opacity 5s, transform 5s;
    opacity: 1;
    transform: scale(1);
  }
  .image-gallery-slide.image-gallery-center:hover #sephia {
    transition: opacity 5s, transform 5s;
    opacity: 0;
    transform: scale(1.1);
  }

  .image-gallery-slide.image-gallery-center #colored {
    transition: opacity 5s, transform 5s;
    opacity: 0;
    transform: scale(1);
  }
  .image-gallery-slide.image-gallery-center:hover #colored {
    transition: opacity 5s, transform 5s;
    opacity: 1;
    transform: scale(1.1);
  }
} */

/* tablet change color after 2 secoonds  */
/* @media only screen and (max-width: 1100px) {
  .image-gallery-slide.image-gallery-center #sephia {
    transition: opacity 5s, transform 5s;
    opacity: 1;
    transform: scale(1);
  }
  #sephia.forceAnimation {
    transition: opacity 5s, transform 5s;
    opacity: 0;
    transform: scale(1.1);
  }

  #colored {
    transition: opacity 5s, transform 5s;
    opacity: 0;
    transform: scale(1);
  }
  #colored.forceAnimation {
    transition: opacity 5s, transform 5s;
    opacity: 1;
    transform: scale(1.1);
  }
} */
